{% extends "myapp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update Password{% endblock %}
{% block content %}

	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					<a href="{% url 'myapp:index' %}">Travel</a> - Change Password
				</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Update</button>
			</div>
		</form>
	</div>
{% endblock content %}
