{% extends "myapp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}
{% block content %}

	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					<a href="{% url 'myapp:index' %}">Travel</a> - User Login
				</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Login</button>
				<small class="text-muted ml-2">
					<a href="{% url 'myapp:password_reset' %}">Forgot Password?</a>
				</small>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Don't have an Account? <a class="ml-2" href="{% url 'myapp:register' %}">Sign Up Now</a>
			</small>
		</div>
	</div>
{% endblock content %}
