{% extends "myapp/base.html" %}

{% block title %}Logout{% endblock %}
{% block content %}
	<h2>You have been successfully  logged out</h2>

	<div class="border-top pt-3">
		<small class="text-muted">
			<a class="ml-2" href="{% url 'myapp:index' %}">Home</a>
			<a class="ml-2" href="{% url 'myapp:login' %}">Login</a>
		</small>
	</div>

{% endblock content %}
