{% extends "myapp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Confirmation{% endblock %}
{% block content %}
	<div class="content-section">
		{% if validlink %}
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">
						<a href="{% url 'myapp:index' %}">Travel</a> - Reset Password Confirmation
					</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit"> Reset Password </button>
				</div>
			</form>
		{% else %}
			<h1> Password reset failed </h1>
			<p>
				The password reset link was invalid, possibly because it has already been used.
				Please request a new password reset.
			</p>
		{% endif %}
	</div>
{% endblock content %}
