{% extends "myapp/base.html" %}

{% block title %}Password Reset Complete{% endblock %}
{% block content %}
	<div class="content-section">
		<legend class="border-bottom mb-4">
			<a href="{% url 'myapp:index' %}">Travel</a> - Reset Password Complete
		</legend>

		<div class="alert alert-info">
			Your password has been set!
		</div>

		<a href="{% url 'myapp:login' %}">Sign In Here</a>
	</div>
{% endblock content %}
