{% extends "myapp/base.html" %}

{% block title %}Password Reset Done{% endblock %}
{% block content %}
	<div class="content-section">
		<legend class="border-bottom mb-4">
			<a href="{% url 'myapp:index' %}">Travel</a> - Reset Password Email Sent
		</legend>

		<div class="alert alert-info">
			We've emailed you instructions for setting your password.
			If they haven't arrived in a few minutes, check your spam folder.
		</div>
	</div>
{% endblock content %}
