{% extends "myapp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					<a href="{% url 'myapp:index' %}">Travel</a> - User Registration
				</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group"></div>
     		<script src="https://www.google.com/recaptcha/api.js" ></script>
    		<div class="g-recaptcha" data-sitekey="6LfLO-IUAAAAALPnnqdQRNCUJKFR2K2vwvrGPxYl"></div>
    		<br/>
    		<input type="submit" value="Submit">
			</div>
		</form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="{% url 'myapp:login' %}">Sign In</a>
      </small>
    </div>
{% endblock content %}
